In [120]:
import pandas as pd
import numpy as np
import datetime

In [141]:
df = pd.DataFrame([['app1', 1], ['app2', 12]], columns=['AppName', 'AppTime'])
df

  AppName  AppTime
0    app1        1
1    app2       12

In [57]:
# Find index of app
idx = df[df['AppName'] == 'app1'].index
idx

Int64Index([0], dtype='int64')

In [109]:
# Change time
df.loc[idx, 'AppTime'] += 3

In [153]:
# Check if there are app 
if not df[df['AppName'] == 'app2'].index.empty:
    print('ok')

ok

In [119]:
# Add app
df.concat(pd.DataFrame([['app3', 3]], columns=['AppName', 'AppTime']), ignore_index=True)

C:\Users\Misha\AppData\Local\Temp\ipykernel_14528\414884637.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(pd.DataFrame([['app3', 3]], columns=['AppName', 'AppTime']), ignore_index=True)

  AppName  AppTime
0    app1        6
1    app2       12
2    app3        3

In [136]:
from datetime import timedelta


sec = 6
print(timedelta(seconds = sec))

0:00:06

In [151]:
df['AppTime'] = df['AppTime'].apply(lambda x: str(timedelta(seconds = x)))

In [152]:
df

  AppName  AppTime
0    app1  0:00:01
1    app2  0:00:12